*{
  -webkit-scrollbar-width: none;
  scrollbar-width: none;
}

body{
    position: relative;
    background-color: black;
    color: green;
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-size: 1.8em;
    font-style: normal;
    text-shadow: 
    0 0 2px rgba(0, 128, 0, 0.4),  
    0 0 5px rgba(0, 128, 0, 0.5),  
    0 0 10px rgba(0, 128, 0, 0.7); 
    filter: blur(0.5px);
    border: 10px double green;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - (20px + 20px));
    /* Scanlines */
    background: linear-gradient(to top, #000000, #000000, #272727, #272727);
    background-size: cover;
    background-size: 100% 1px;
    /* Glow */
    box-shadow: 
    0 0 2.5px rgba(0, 255, 0, 0.6),   
    0 0 5px rgba(0, 255, 0, 0.5),  
    0 0 10px rgba(0, 255, 0, 0.4),  
    0 0 20px rgba(0, 255, 0, 0.3);  
}
@media screen{
  body {
    animation: scanlines infinite 20s linear ;
  }
} 

body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.25s infinite;
}

nav {
  position: absolute;
  top: -25px; 
  right: 20px;
  background-color: black; 
  border-left: 10px double green; 
  border-right: 10px double green;
  padding: 5px 10px; 

  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 1px;
}

ul {
	list-style: none
}

li{
  margin-top: 20px;
}

section{
  display: none;
}

/* used in headings */
span{
  color: goldenrod;
  text-shadow: 
  0 0 2px rgba(218, 165, 32, 0.4),  
  0 0 5px rgba(218, 165, 32, 0.5),  
  0 0 10px rgba(218, 165, 32, 0.7); 
  
}

.scroll-content{
  height: 100%;
  overflow-y: scroll;
}

.visible{
  display: block;
}

.active{
  background-color: teal;
  color: black;
}

.foot{
  bottom: -33px;
  position: absolute;
  right: 20px;
  background-color: black; 
  border-left: 10px double green; 
  border-right: 10px double green;
  padding: 5px 10px; 
  font-size:0.5em;
  
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 1px;
}

.ascii-hero{
  font-size: 0.9em;
  display: flex;
  align-items:center;
} 

.link{
    text-decoration: underline;
    color: teal;
    text-shadow: 
    0 0 2px rgba(0, 128, 128, 0.4),  /* Subtle inner glow */
    0 0 5px rgba(0, 128, 128, 0.3),  /* Fainter outer glow */
    0 0 10px rgba(0, 128, 128, 0.2); /* Very faint halo */
}

.link.active,
.link:hover{
    color: black;
    background-color: teal;
}


@-moz-document url-prefix() {
  body{
    font-size: 1.1em;
    background: linear-gradient(to top, #000000, #000000, #333333, #333333); /* Adjust for Firefox */
    background-size: cover;
    background-size: 100% 1px;
  }
  .ascii-hero{
    font-size: 1.5em;
  }
}


/* Responsiveness */
@media only screen and (max-width: 1395px) {
  body{
    font-size: 1em;
  }
}


@media only screen and (max-width: 1009px) {
  body{
    font-size: 0.9em;
  }
  .ascii-hero{
    font-size: 1.4em;
  }
  .foot{
    bottom: -30px;
  }
}

@media only screen and (max-width: 861px) {
  body{
    font-size: 0.8em;
  }
}


@media only screen and (max-width: 661px) {
  .ascii-hero{
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 580px) {
  .ascii-hero{
    font-size: 1.2em;
  }
}


@media only screen and (max-width: 520px) {
  .ascii-hero{
    font-size: 1em;
  }
}

@media only screen and (max-width: 421px) {
  .ascii-hero{
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 381px) {
  .ascii-hero{
    font-size: 0.8em;
  }
}

/*iPhone 5??*/
@media only screen and (max-width: 321px) {
  .ascii-hero{
    font-size: 0.7em;
  }
  nav{
    font-size: 0.8em;
  }
  .foot{
    bottom: -25px;
    font-size: 0.4em;
  }
}

/* Scanline animation */
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

/* Flicker animation*/
@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}