/*Theme colours*/
.def-pal{
  /* Default terminal palette*/
  --bg-col: #000000;
  --text-col: #008000;
  --border-col:#008000;
  --link-col: #008080;
  --hero-col: #DAA520;
  --scanline-col: #272727;
  --span-shadow: 0 0 2px rgba(218, 165, 32, 0.4),  
                 0 0 5px rgba(218, 165, 32, 0.5),  
                 0 0 10px rgba(218, 165, 32, 0.7); 
  --text-shadow: 0 0 2px rgba(0, 128, 0, 0.4),  
                 0 0 5px rgba(0, 128, 0, 0.5),  
                 0 0 10px rgba(0, 128, 0, 0.7);
  --border-shadow:0 0 2.5px rgba(0, 255, 0, 0.6),   
                  0 0 5px rgba(0, 255, 0, 0.5),  
                  0 0 10px rgba(0, 255, 0, 0.4),  
                  0 0 20px rgba(0, 255, 0, 0.3);
                  
}

.cga-pal{
  --bg-col: #000000;
  --text-col: #55FFFF;
  --border-col:#FF55FF;
  --link-col: #AAAAFF;
  --hero-col: #FFFFFF;
  --scanline-col: #272727;
  --text-shadow: 0 0 2px rgba(85, 255, 255, 0.4),  
               0 0 5px rgba(85, 255, 255, 0.5),  
               0 0 10px rgba(85, 255, 255, 0.7);
  --span-shadow: 0 0 2px rgba(255, 255, 255, 0.4),  
               0 0 5px rgba(255, 255, 255, 0.5),  
               0 0 10px rgba(255, 255, 255, 0.7);
  --border-shadow: 0 0 2px rgba(255, 85, 255, 0.6),  
                 0 0 5px rgba(255, 85, 255, 0.5),  
                 0 0 10px rgba(255, 85, 255, 0.4);

}

.apple-2-pal {
  --bg-col: #002B36; 
  --text-col: #93A1A1; 
  --border-col: #839496; 
  --link-col: #2AA198; 
  --hero-col: #268BD2; 
  --scanline-col: #073642;
  --text-shadow: 0 0 2px rgba(147, 161, 161, 0.4),  
               0 0 5px rgba(147, 161, 161, 0.5),  
               0 0 10px rgba(147, 161, 161, 0.7);
  --span-shadow: 0 0 2px rgba(38, 139, 210, 0.4),  
               0 0 5px rgba(38, 139, 210, 0.5),  
               0 0 10px rgba(38, 139, 210, 0.7);
  --border-shadow: 0 0 2px rgba(131, 148, 150, 0.6),  
                 0 0 5px rgba(131, 148, 150, 0.5),  
                 0 0 10px rgba(131, 148, 150, 0.4);
 
}

.amber-pal {
  --bg-col: #000000; 
  --text-col: #FF9F00; 
  --border-col: #FF9F00; 
  --link-col: #FFCF33; 
  --hero-col: #FFC400; 
  --scanline-col: #1A1A1A;
  --text-shadow: 0 0 2px rgba(255, 159, 0, 0.4),  
                 0 0 5px rgba(255, 159, 0, 0.5),  
                 0 0 10px rgba(255, 159, 0, 0.7);
  --span-shadow: 0 0 2px rgba(255, 196, 0, 0.4),  
                 0 0 5px rgba(255, 196, 0, 0.5),  
                 0 0 10px rgba(255, 196, 0, 0.7);
  --border-shadow: 0 0 2px rgba(255, 207, 51, 0.6),  
                   0 0 5px rgba(255, 207, 51, 0.5),  
                   0 0 10px rgba(255, 207, 51, 0.4);


}

.cp-pal {  
  --bg-col: #0b2346; 
  --text-col: #0ABDC6; 
  --border-col: #711C91; 
  --link-col: #FF1493; 
  --hero-col: #FF4500; 
  --scanline-col: #1A1A1A;  
  --text-shadow: 0 0 2px rgba(10, 189, 198, 0.4),  
                 0 0 5px rgba(10, 189, 198, 0.5),  
                 0 0 10px rgba(10, 189, 198, 0.7);
  --span-shadow: 0 0 2px rgba(255, 69, 0, 0.4),  
                 0 0 5px rgba(255, 69, 0, 0.5),  
                 0 0 10px rgba(255, 69, 0, 0.7);
  --border-shadow: 0 0 2px rgba(113, 28, 145, 0.6),  
                   0 0 5px rgba(113, 28, 145, 0.5),  
                   0 0 10px rgba(113, 28, 145, 0.4);

}
.sunset-pal {
  --bg-col: #1E1B29; 
  --text-col: #FF5C5C; 
  --border-col: #FFA07A;
  --link-col: #F45D48; 
  --hero-col: #FFC107; 
  --scanline-col: #2C2E3A; 
  --text-shadow: 0 0 2px rgba(255, 92, 92, 0.4),  
                 0 0 6px rgba(255, 92, 92, 0.6),  
                 0 0 12px rgba(255, 92, 92, 0.8);
  --span-shadow: 0 0 2px rgba(255, 193, 7, 0.4),  
                 0 0 6px rgba(255, 193, 7, 0.6),  
                 0 0 12px rgba(255, 193, 7, 0.8);
  --border-shadow: 0 0 2px rgba(255, 160, 122, 0.5),  
                   0 0 6px rgba(255, 160, 122, 0.6),  
                   0 0 12px rgba(255, 160, 122, 0.8);
}


*{
  -webkit-scrollbar-width: none;
  scrollbar-width: none;
  background-color: var(--bg-col);
}

body{
    position: relative;
    background-color: var(--bg-col);
    color: var(--text-col);
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-size: 1.8em;
    font-style: normal;
    text-shadow: var(--text-shadow);
    filter: blur(0.5px);
    border: 10px double var(--border-col);
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - (20px + 20px));
    /* Scanlines */
    background: linear-gradient(to top, var(--bg-col), var(--bg-col), var(--scanline-col), var(--scanline-col));
    background-size: 100% 1px;
    /* Glow */
    box-shadow: var(--border-shadow);
    animation: scanlines infinite 20s linear;  
}

body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.25s infinite;
}

nav {
  position: absolute;
  top: -25px; 
  right: 20px;
  background-color: black; 
  border-left: 10px double var(--border-col); 
  border-right: 10px double var(--border-col);
  padding: 5px 10px; 
  background: linear-gradient(to top, var(--bg-col), var(--bg-col), var(--scanline-col), var(--scanline-col));
  background-size: cover;
  background-size: 100% 1px;
  animation: scanlines infinite 20s linear;
}

ul {
	list-style: none
}

li{
  margin-top: 20px;
}

section{
  display: none;
}

/* used in headings */
span{
  color: var(--hero-col);
  text-shadow: var(--span-shadow)
}

button{
  background: none;
  border: none;
  padding: 0;
  font-size: 0.8em;
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
}

.scroll-content{
  height: 100%;
  overflow-y: scroll;
}

.visible{
  display: block;
}

.active{
  background-color: var(--link-col);
  color: var(--bg-col);
}

.foot{
  bottom: -33px;
  position: absolute;
  right: 20px;
  background-color: var(--bg-col); 
  border-left: 10px double var(--border-col); 
  border-right: 10px double var(--border-col);
  padding: 5px 10px; 
  font-size:0.5em;
  background: linear-gradient(to top, var(--bg-col), var(--bg-col), var(--scanline-col), var(--scanline-col));
  background-size: cover;
  background-size: 100% 1px;
  animation: scanlines infinite 20s linear;
}

.ascii-hero{
  font-size: 0.9em;
  display: flex;
  align-items:center;
} 

.link{
    text-decoration: underline;
    color: var(--link-col);
    text-shadow: 
    0 0 2px rgba(0, 128, 128, 0.4),  
    0 0 5px rgba(0, 128, 128, 0.3),  
    0 0 10px rgba(0, 128, 128, 0.2); 
}

.link.active,
.link:hover{
    color: var(--bg-col);
    background-color: var(--link-col);
}


/* Responsiveness */
@media only screen and (max-width: 1009px) {
  body{
    font-size: 1.7em;
  }
  .ascii-hero{
    font-size: 0.9em;
  }
  .foot{
    bottom: -30px;
  }
}

@media only screen and (max-width: 861px) {
  body{
    font-size: 1.5em;
  }
  .ascii-hero{
    font-size: 0.7em;
  }

}


@media only screen and (max-width: 661px) {
  .ascii-hero{
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 580px) {
  body{
    font-size: 1.4em;
  }
}


@media only screen and (max-width: 520px) {
  .ascii-hero{
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 421px) {
  .ascii-hero{
    font-size: 0.4em;
  }
  nav{
    font-size: 0.8em;
  }
}

/*iPhone 5??*/
@media only screen and (max-width: 321px) {
  body{
    font-size: 1.3em;
  }
  .ascii-hero{
    font-size: 0.37em;
  }
  .foot{
    bottom: -25px;
    font-size: 0.4em;
  }
}

/* Scanline animation */
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

/* Flicker animation*/
@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}